html {
  //font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #f5f5f5;
  overflow: hidden;
  overflow-y: auto;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

html,
body,
#app{
  width: 100%;
  min-height: 100%;
}

* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, li, ol {
  list-style: none outside none;
}

a{
  text-decoration: none;
}
